<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1:引入数据源配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties" system-properties-mode="NEVER"/>
    <!--2：配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"
          p:driverClassName="${jdbc.driverClassName}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"
          p:url="${jdbc.url}">
    </bean>

    <bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启声明式事务-->
    <!--<tx:annotation-driven/>-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--2、配置事务管理策略-->
    <tx:advice id="txManager" transaction-manager="transactionManager">
        <tx:attributes>
            <!--配置一些事务属性-->
            <tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="*" isolation="SERIALIZABLE"/>
        </tx:attributes>
    </tx:advice>
    <!--3.1、配置事务AOP-->
    <aop:config>
        <!--事务应该配置在逻辑层，而不是数据层-->
        <aop:pointcut id="myPointcut" expression="execution(* cn.wolfcode.shiro.dao.impl.*.*(..))"/>
        <aop:advisor advice-ref="txManager" pointcut-ref="myPointcut"/>
    </aop:config>
</beans>
